<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-6" th:each="category : ${categories}">
                <header>
                    <h2 align="center">
                        <a th:href="@{/category/{id}(id=${category.id})}"
                        th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">
                        </a>
                    </h2>
                </header>
            </div>
        </div>
    </div>
</main>
