<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-dismissible alert-danger">
                    <h2 align="center">Uppss !!! Shit got real. </h2>
                    <h3 align="center">No Rating selected. Please select specific rating if you would like to make any change !</h3>
                    <div style="text-align: center">
                        <a class="btn btn-info btn-lg" th:href="@{/article/{id}(id=${article.id})}">Okay, I will try again!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>