<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 align="right">
                    <a th:href="@{/user{id}/articles(id=${user.id})}"
                       th:text="${'My articles (' + #sets.size(articles) + ')'}">
                    </a>
                </h3>

            </div>
        </div>
    </div>
</main>