<main>
    <div class="container body-container">
        <div class="row">
            <div th:if="${userInfo}" align="center">
                <h4 th:text="${'Based on your body data our recommendation is: ' + userInfo.recommendation}"></h4>
            </div>
            <div th:unless="${userInfo}" align="center">
                <a class="btn btn-info "
                   th:href="@{/userInfo/dataInput}">Enter User Information to get recommendations.</a>
            </div>

        </div>
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 align="right">
                    <a th:href="@{/user{id}/articles(id=${user.id})}"
                       th:text="${'My articles (' + #sets.size(articles) + ')'}">
                    </a>
                </h3>
            </div>
        </div>

    </div>
</main>