<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <div>
                <h2 align="center" th:text=" 'Hello '+ ${user.fullName} "></h2>
            </div>
            <form class="form-horizontal" th:action="@{/workout/create}" method="POST">
                <fieldset>

                    <div align="center">
                        <p>
                          <h4>Enter reps information</h4>
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_chest">Chest Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_chest" placeholder="Enter chest reps"
                                   name="chest" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_abs">Abs Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_abs" placeholder="Enter abs reps"
                                   name="abs" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_back">Back Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_back" placeholder="Enter back reps"
                                   name="back" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_shoulders">Shoulders Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_shoulders" placeholder="Enter shoulders reps"
                                   name="shoulders" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_biceps">Biceps Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_biceps" placeholder="Enter biceps reps"
                                   name="biceps" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_triceps">Triceps Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_triceps" placeholder="Enter triceps reps"
                                   name="triceps" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="workout_legs" >Legs Reps</label>
                        <div class="col-sm-4 ">
                            <input type="number" min="0" class="form-control" id="workout_legs" placeholder="Enter Legs reps"
                                   name="legs" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">

                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>

                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

