<main>
    <div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-danger">
                <h2 align="center">Access Denied!</h2>
                <h4 align="center">You need to <a th:href="@{/logout}" class="alert-link">be logged in</a> as an admin.</h4>
                <h4 align="center">A photo of you has been taken. Shell you continue to put your nose where you are not suppose to
                , we shall send you information to the Authorities.</h4>
                <h4 align="center">Thank you very much for your understanding.</h4>

                <div style="text-align: center">
                    <a class="btn btn-info btn-lg" th:href="@{/}">I understand.</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>