<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-dismissible alert-danger">
                    <h3 align="center"> Verified password does not match original password</h3>
                    <h4 align="center">
                        Please try again</h4>
                    <div style="text-align: center">
                        <a class="btn btn-info " th:href="@{/register}">Okay!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>